:root {
    --width-nav: 60px;
    --width-media: 60px;
}

.main-add-trainning-program {
    top: 50px;
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon-add-trainning-program {
        position: absolute;
        right: 0;
        height: 30px;
        margin: 10px;
    }

    .icon-add-trainning-program:hover {
        color: red;
    }

    .cbx-major-add-trainning-program {
        position: absolute;
        left: 20px;
        top: 60px;
        margin-bottom: 20px;
        margin-right: 10px;
        height: 38px;
        border-radius: 5px;
        background: white;
        border: none;
        padding: 0 20px;
        font-weight: 300;
        font-size: 14px;
        color: #4B4B4B;
    }

    .cbx-course-add-trainning-program {
        position: absolute;
        left: 20px;
        top: 120px;
        margin-bottom: 20px;
        margin-right: 10px;
        height: 38px;
        border-radius: 5px;
        background: white;
        border: none;
        padding: 0 20px;
        font-weight: 300;
        font-size: 14px;
        color: #4B4B4B;
    }

    .btn-save-trainning-program {
        width: calc(100% - 50px);
        position: absolute;
        top: 200px;
        height: 54px;
        font-size: 14px;
        color: white;
        background: red;
        border-radius: 5px;
        border: none;
        font-weight: 500;
        text-transform: uppercase;
    }


    .btn-save-trainning-program:hover {
        transform: scale(1.009);
        box-shadow: 0px 0px 3px 0px #212529;
    }
}