header {
    --height: 72px;
    width: 100%;
    height: var(--height);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}

.logo {
    width: 40px;
    height: 40px;
    padding-left: 50px;
}

label {
    display: none;
}

nav {
    padding-right: 10px;
}

nav ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    margin-right: 40px;
}

.button {
    --color: #0c72c0;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 13px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.button::before,
.button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
    height: 410px;
    width: 410px;
    transform: none;
}

.button:hover {
    color: rgb(10, 25, 30);
    color: #fff;
}

.button:active {
    filter: brightness(.8);
}

.main-body {
    --height: 72px;
    height: calc(100vh - var(--height));
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e8e8;
    padding-top: var(--height);
}

.text-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.img-body {
    flex: 1;
    width: 768px;
    height: 710px;
    -webkit-mask-image: url(../images/mask.png);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
}

.img-body img {
    width: 768px;
    height: 100%;
    object-fit: cover;
}

.button-start {
    width: 6.5em;
    height: 2.3em;
    margin: 20px 50px;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.button-start:hover {
    color: black;
}

.button-start:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.button-start:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.main-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

}


.main-profile ul {
    margin: 10px 50px;
    display: flex;
    padding-inline-start: 0%;
}

.main-profile ul li {
    height: 300px;
    width: 200px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    margin-right: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 400ms;
}

.main-profile ul li:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.main-profile ul:hover>li:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}

.main-profile ul li a {
    color: inherit;
    display: flex;
    justify-content: center;
}

.icon-fb:hover {
    color: blue;
}

.img-avatar {
    align-self: center;
    width: 150px;
    height: 150px;
}

footer {
    background-color: black;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button {
    position: relative;
    width: 300px;
    height: 80px;
    border: none;
    background-color: rgb(231, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 8px 8px 0px rgb(12, 12, 12);
    transition-duration: .3s;
}

.layer {
    width: 60px;
    position: absolute;
    left: -30px;
    transition-duration: .3s;
    fill: #ffaf02;
}

footer button:hover {
    transform: translateY(5px);
    box-shadow: 3px 3px 0px rgb(0, 0, 0);
    transition-duration: .3s;
}

footer button:hover .layer {
    left: 0%;
    width: 100%;
    transition-duration: .3s;
}

footer button p {
    color: white;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    z-index: 2;
    transition-duration: .1s;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

footer button:hover p {
    color: transparent;
    transition-duration: .3s;
}


@media screen and (max-width: 480px) {
    header {
        height: 50px;
        align-items: center;
    }

    label {
        padding: 10px;
        display: block;
    }

    .logo {
        margin-left: -40px;
    }

    nav {
        border-radius: 10px;
        max-width: 200px;
        position: absolute;
        background-color: rgb(237, 237, 237);
        top: 10px;
        right: 10px;
        padding: 10px;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;
    }

    nav label {
        text-align: right;
    }

    nav ul {
        flex-direction: column;
    }

    input:checked~nav {
        visibility: visible;
        opacity: 1;
    }

    .main-body {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100vw;
        background-color: #e8e8e8;
    }

    .img-body {
        width: 400px;
        height: 100%;
    }

    .img-body img {
        width: 100%;
    }

    .main-profile ul {
        display: flex;
        flex-direction: column;
    }

    .main-profile ul li {
        margin: 0px 0px 20px 0px;
    }
}